<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
<key>梦见眼睛、目</key><string>/renwu/3486.html</string>
<key>梦见子宫</key><string>/renwu/3485.html</string>
<key>梦见胡子、胡须</key><string>/renwu/3488.html</string>
<key>梦见耳屎</key><string>/renwu/3528.html</string>
<key>梦见脑袋</key><string>/renwu/3505.html</string>
<key>梦见全家人</key><string>/renwu/3723.html</string>
<key>梦见老太太</key><string>/renwu/3724.html</string>
<key>梦见歌手</key><string>/renwu/3722.html</string>
<key>梦见露裸、赤裸裸的梦</key><string>/renwu/3525.html</string>
<key>梦见挖耳屎</key><string>/renwu/3520.html</string>
<key>梦见孕妇、怀孕</key><string>/renwu/2419.html</string>
<key>梦见军人</key><string>/renwu/2415.html</string>
<key>梦见外祖父母</key><string>/renwu/2416.html</string>
<key>梦见叔叔伯伯</key><string>/renwu/2417.html</string>
<key>梦见姑姑婶婶</key><string>/renwu/2418.html</string>
<key>梦见老公</key><string>/renwu/2413.html</string>
<key>梦见间谍</key><string>/renwu/2414.html</string>
<key>梦见父亲</key><string>/renwu/2411.html</string>
<key>梦见父母亲</key><string>/renwu/2412.html</string>
<key>梦见奶奶爷爷</key><string>/renwu/2409.html</string>
<key>梦见母亲</key><string>/renwu/2410.html</string>
<key>梦见病人</key><string>/renwu/2407.html</string>
<key>梦见法官</key><string>/renwu/2408.html</string>
<key>梦见贼</key><string>/renwu/2406.html</string>
<key>梦见建筑师</key><string>/renwu/2402.html</string>
<key>梦见工程师</key><string>/renwu/2403.html</string>
<key>梦见科学家</key><string>/renwu/2404.html</string>
<key>梦见天文学家</key><string>/renwu/2405.html</string>
<key>梦见女孩</key><string>/renwu/2401.html</string>
<key>梦见交上新朋友</key><string>/renwu/2186.html</string>
<key>梦见小偷土匪</key><string>/renwu/2171.html</string>
<key>梦见吝啬鬼</key><string>/renwu/2170.html</string>
<key>梦见不认识的人</key><string>/renwu/2167.html</string>
<key>梦见你的父亲</key><string>/renwu/2166.html</string>
<key>梦见和皇后争吵</key><string>/renwu/2161.html</string>
<key>梦见未婚女子梦见和皇后握手</key><string>/renwu/2160.html</string>
<key>梦见已婚女人梦见和皇后握手</key><string>/renwu/2159.html</string>
<key>梦见男人梦见同皇后握手</key><string>/renwu/2158.html</string>
<key>梦见未婚女子梦见自己当了皇后</key><string>/renwu/2157.html</string>
<key>梦见已婚女人梦见自己成了皇后</key><string>/renwu/2148.html</string>
<key>梦见商人梦见皇后</key><string>/renwu/2147.html</string>
<key>梦见叛国者梦见皇后</key><string>/renwu/2146.html</string>
<key>梦见囚犯梦见皇后</key><string>/renwu/2136.html</string>
<key>梦见女人梦见皇后</key><string>/renwu/2135.html</string>
<key>梦见男人梦见皇后</key><string>/renwu/2106.html</string>
<key>梦见病人梦见护士</key><string>/renwu/2105.html</string>
<key>梦见少女梦见和护士争吵</key><string>/renwu/2104.html</string>
<key>梦见少女梦见有一群美貌的护士</key><string>/renwu/2103.html</string>
<key>梦见已婚女子梦见护士</key><string>/renwu/2102.html</string>
<key>梦见去请医生</key><string>/renwu/2091.html</string>
<key>梦见自己当了医生或西医大夫</key><string>/renwu/2083.html</string>
<key>梦见与医生争吵</key><string>/renwu/2063.html</string>
<key>梦见病人梦见和医生谈话</key><string>/renwu/2056.html</string>
<key>梦见与医生交谈</key><string>/renwu/2050.html</string>
<key>梦见病人和久病痊愈的人梦见医生</key><string>/renwu/2045.html</string>
<key>梦见叔父母与父母亲争吵</key><string>/renwu/2035.html</string>
<key>梦见全家人一起到亲戚家作客</key><string>/renwu/2027.html</string>
<key>梦见叔父母给你零用钱</key><string>/renwu/2020.html</string>
<key>梦见与邻居同辈的异性</key><string>/renwu/2013.html</string>
<key>梦见邻人出现</key><string>/renwu/2006.html</string>
<key>梦见与表兄弟亲密相处</key><string>/renwu/2000.html</string>
<key>梦见姑姑、婶婶</key><string>/renwu/470.html</string>
<key>梦见外公死去</key><string>/renwu/469.html</string>
<key>梦见弟弟</key><string>/renwu/464.html</string>
<key>梦见姐姐</key><string>/renwu/461.html</string>
<key>梦见婆婆</key><string>/renwu/457.html</string>
<key>梦见舅舅</key><string>/renwu/459.html</string>
<key>梦见叔叔</key><string>/renwu/453.html</string>
<key>梦见哥哥</key><string>/renwu/444.html</string>
<key>梦见外婆、姥姥</key><string>/renwu/420.html</string>
<key>梦见姨妈、舅妈</key><string>/renwu/421.html</string>
<key>梦见祖父母躺在病床上</key><string>/renwu/1995.html</string>
<key>梦见帮祖父母捶背</key><string>/renwu/1990.html</string>
<key>梦见祖父母责骂母亲</key><string>/renwu/1989.html</string>
<key>梦见祖父母给你零用钱</key><string>/renwu/1979.html</string>
<key>梦见与兄弟姐妹同盖一床被子</key><string>/renwu/1959.html</string>
<key>梦见与兄弟或姐妹远离</key><string>/renwu/1958.html</string>
<key>梦见与兄弟姐妹合力做些事情</key><string>/renwu/1957.html</string>
<key>梦见兄弟吵架</key><string>/renwu/1956.html</string>
<key>梦见兄弟或姐妹将出去游玩</key><string>/renwu/1955.html</string>
<key>梦见受兄或姐欺负而心有不甘</key><string>/renwu/1954.html</string>
<key>梦见与儿童一起游戏</key><string>/renwu/1953.html</string>
<key>梦见欺负小孩儿</key><string>/renwu/1952.html</string>
<key>梦见抱起婴儿</key><string>/renwu/1951.html</string>
<key>梦见与异性朋友手拉手散步</key><string>/renwu/1950.html</string>
<key>梦见与历史名人会见</key><string>/renwu/1949.html</string>
<key>梦见与首相握手</key><string>/renwu/1948.html</string>
<key>梦见与国外电影明星交谈</key><string>/renwu/1947.html</string>
<key>梦见与最喜欢的明星亲密相处</key><string>/renwu/1946.html</string>
<key>梦见受著名的运动选手指导</key><string>/renwu/1945.html</string>
<key>梦见接到喜欢的朋友来信</key><string>/renwu/1944.html</string>
<key>梦见间谍、特务</key><string>/renwu/467.html</string>
<key>梦见俘虏</key><string>/renwu/468.html</string>
<key>梦见美女</key><string>/renwu/463.html</string>
<key>梦见铁匠</key><string>/renwu/465.html</string>
<key>梦见人潮</key><string>/renwu/466.html</string>
<key>梦见妹妹</key><string>/renwu/460.html</string>
<key>梦见已故亲人、过世亲人</key><string>/renwu/462.html</string>
<key>梦见女孩子、小女孩</key><string>/renwu/458.html</string>
<key>梦见老人</key><string>/renwu/454.html</string>
<key>梦见妓女</key><string>/renwu/455.html</string>
<key>梦见哑巴</key><string>/renwu/456.html</string>
<key>梦见男人</key><string>/renwu/451.html</string>
<key>梦见杂技演员</key><string>/renwu/452.html</string>
<key>梦见儿童</key><string>/renwu/447.html</string>
<key>梦见佣人、仆人</key><string>/renwu/448.html</string>
<key>梦见祭司</key><string>/renwu/449.html</string>
<key>梦见领袖、主席</key><string>/renwu/450.html</string>
<key>梦见皇帝</key><string>/renwu/445.html</string>
<key>梦见牧羊人</key><string>/renwu/446.html</string>
<key>梦见陆军</key><string>/renwu/440.html</string>
<key>梦见学生</key><string>/renwu/441.html</string>
<key>梦见飞行员</key><string>/renwu/442.html</string>
<key>梦见作家</key><string>/renwu/443.html</string>
<key>梦见老板</key><string>/renwu/437.html</string>
<key>梦见侍卫</key><string>/renwu/438.html</string>
<key>梦见空军</key><string>/renwu/439.html</string>
<key>梦见水手</key><string>/renwu/434.html</string>
<key>梦见裁缝</key><string>/renwu/435.html</string>
<key>梦见理发师</key><string>/renwu/436.html</string>
<key>梦见乘客</key><string>/renwu/431.html</string>
<key>梦见宰相、丞相</key><string>/renwu/432.html</string>
<key>梦见船长</key><string>/renwu/433.html</string>
<key>梦见玩游戏</key><string>/renwu/427.html</string>
<key>梦见道士</key><string>/renwu/428.html</string>
<key>梦见司机</key><string>/renwu/429.html</string>
<key>梦见包公</key><string>/renwu/430.html</string>
<key>梦见孤儿</key><string>/renwu/425.html</string>
<key>梦见邮递员</key><string>/renwu/426.html</string>
<key>梦见土匪</key><string>/renwu/422.html</string>
<key>梦见秃子</key><string>/renwu/423.html</string>
<key>梦见消防员</key><string>/renwu/424.html</string>
<key>梦见牙医</key><string>/renwu/418.html</string>
<key>梦见教练</key><string>/renwu/419.html</string>
<key>梦见寡妇</key><string>/renwu/414.html</string>
<key>梦见合股人</key><string>/renwu/415.html</string>
<key>梦见女出家人</key><string>/renwu/416.html</string>
<key>梦见统治者</key><string>/renwu/417.html</string>
<key>梦见产婆</key><string>/renwu/411.html</string>
<key>梦见小炉匠</key><string>/renwu/412.html</string>
<key>梦见勇士</key><string>/renwu/413.html</string>
<key>梦见市长</key><string>/renwu/408.html</string>
<key>梦见瘦子</key><string>/renwu/409.html</string>
<key>梦见群众</key><string>/renwu/410.html</string>
<key>梦见巨人</key><string>/renwu/405.html</string>
<key>梦见吉普赛人</key><string>/renwu/406.html</string>
<key>梦见大肚汉</key><string>/renwu/407.html</string>
<key>梦见敌人</key><string>/renwu/402.html</string>
<key>梦见外国人</key><string>/renwu/403.html</string>
<key>梦见使者</key><string>/renwu/404.html</string>
<key>梦见偶像</key><string>/renwu/399.html</string>
<key>梦见长辈</key><string>/renwu/400.html</string>
<key>梦见编辑</key><string>/renwu/401.html</string>
<key>梦见黑人</key><string>/renwu/395.html</string>
<key>梦见阿拉伯人</key><string>/renwu/396.html</string>
<key>梦见乞丐</key><string>/renwu/397.html</string>
<key>梦见厨师</key><string>/renwu/398.html</string>
<key>梦见瘸子、跛子、残疾人</key><string>/renwu/394.html</string>
<key>梦见警卫</key><string>/renwu/392.html</string>
<key>梦见盲人</key><string>/renwu/393.html</string>
<key>梦见邻居</key><string>/renwu/388.html</string>
<key>梦见海军</key><string>/renwu/389.html</string>
<key>梦见国王</key><string>/renwu/390.html</string>
<key>梦见魔术师</key><string>/renwu/391.html</string>
<key>梦见女演员</key><string>/renwu/386.html</string>
<key>梦见陌生人</key><string>/renwu/387.html</string>
<key>梦见印医</key><string>/renwu/385.html</string>
<key>梦见士兵、军人</key><string>/renwu/384.html</string>
<key>梦见尼姑、和尚、出家人</key><string>/renwu/381.html</string>
<key>梦见强盗、抢劫</key><string>/renwu/382.html</string>
<key>梦见清洁工、清道夫</key><string>/renwu/383.html</string>
<key>梦见军队、部队</key><string>/renwu/378.html</string>
<key>梦见木匠</key><string>/renwu/379.html</string>
<key>梦见男孩、小男孩</key><string>/renwu/380.html</string>
<key>梦见患者、病人</key><string>/renwu/376.html</string>
<key>梦见警察、警服</key><string>/renwu/377.html</string>
<key>梦见当官、官员、法官</key><string>/renwu/375.html</string>
<key>梦见祖先</key><string>/renwu/373.html</string>
<key>梦见医生、大夫</key><string>/renwu/374.html</string>
<key>梦见兄弟姐妹</key><string>/renwu/370.html</string>
<key>梦见丈夫、老公</key><string>/renwu/371.html</string>
<key>梦见祖母、祖父</key><string>/renwu/372.html</string>
<key>梦见家人</key><string>/renwu/366.html</string>
<key>梦见母亲、妈妈</key><string>/renwu/367.html</string>
<key>梦见奶奶、爷爷</key><string>/renwu/368.html</string>
<key>梦见亲戚</key><string>/renwu/369.html</string>
<key>梦见贼、小偷</key><string>/renwu/363.html</string>
<key>梦见中间人</key><string>/renwu/364.html</string>
<key>梦见父亲、爸爸</key><string>/renwu/365.html</string>
<key>梦见迎亲队伍</key><string>/renwu/361.html</string>
<key>梦见影视明星</key><string>/renwu/362.html</string>
<key>梦见小孩、小朋友</key><string>/renwu/359.html</string>
<key>梦见艺术家</key><string>/renwu/360.html</string>
<key>梦见熟人</key><string>/renwu/356.html</string>
<key>梦见双胞胎</key><string>/renwu/357.html</string>
<key>梦见屠夫</key><string>/renwu/358.html</string>
<key>梦见亲友</key><string>/renwu/355.html</string>
<key>梦见老师、教师</key><string>/renwu/354.html</string>
<key>梦见父母</key><string>/renwu/325.html</string>
<key>梦见小偷</key><string>/renwu/292.html</string>
<key>梦见同事</key><string>/renwu/293.html</string>
<key>梦见上司、领导</key><string>/renwu/294.html</string>
<key>梦见同学</key><string>/renwu/295.html</string>
<key>梦见导师</key><string>/renwu/296.html</string>
<key>梦见丈夫</key><string>/renwu/297.html</string>
<key>梦见王子公主</key><string>/renwu/298.html</string>
<key>梦见婴儿</key><string>/renwu/299.html</string>
<key>梦见女人</key><string>/renwu/300.html</string>
<key>梦见军队</key><string>/renwu/301.html</string>
<key>梦见人群</key><string>/renwu/302.html</string>
<key>梦见守财奴</key><string>/renwu/303.html</string>
<key>梦见男孩</key><string>/renwu/304.html</string>
<key>梦见英雄</key><string>/renwu/305.html</string>
<key>梦见队伍</key><string>/renwu/306.html</string>
<key>梦见烈士</key><string>/renwu/307.html</string>
<key>梦见小贩</key><string>/renwu/308.html</string>
<key>梦见野蛮人</key><string>/renwu/309.html</string>
<key>梦见清道夫</key><string>/renwu/310.html</string>
<key>梦见疯子</key><string>/renwu/311.html</string>
<key>梦见尼姑</key><string>/renwu/312.html</string>
<key>梦见皇后</key><string>/renwu/313.html</string>
<key>梦见护士</key><string>/renwu/314.html</string>
<key>梦见名人</key><string>/renwu/315.html</string>
<key>梦见警察</key><string>/renwu/316.html</string>
<key>梦见医生</key><string>/renwu/317.html</string>
<key>梦见亲戚邻居</key><string>/renwu/318.html</string>
<key>梦见祖父母</key><string>/renwu/319.html</string>
<key>梦见兄弟姊妹</key><string>/renwu/320.html</string>
<key>梦见小孩</key><string>/renwu/321.html</string>
<key>梦见朋友</key><string>/renwu/322.html</string>
<key>梦见情人异性</key><string>/renwu/323.html</string>
<key>梦见老师</key><string>/renwu/324.html</string>
</dict>
</plist>