<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
<key>梦见喉咙</key><string>/shenti/2516.html</string>
<key>梦见后背</key><string>/shenti/2515.html</string>
<key>梦见剪指甲</key><string>/shenti/2512.html</string>
<key>梦见光着上身</key><string>/shenti/2513.html</string>
<key>梦见颈部</key><string>/shenti/2514.html</string>
<key>梦见胃疼</key><string>/shenti/2509.html</string>
<key>梦见肚脐</key><string>/shenti/2510.html</string>
<key>梦见下巴</key><string>/shenti/2511.html</string>
<key>梦见腰痛</key><string>/shenti/2506.html</string>
<key>梦见肾</key><string>/shenti/2507.html</string>
<key>梦见肠子</key><string>/shenti/2508.html</string>
<key>梦见失声</key><string>/shenti/2499.html</string>
<key>梦见身体变成白色</key><string>/shenti/2125.html</string>
<key>梦见身体消瘦</key><string>/shenti/2124.html</string>
<key>梦见身体急速发胖</key><string>/shenti/2086.html</string>
<key>梦见有人剥光了自己的衣服</key><string>/shenti/2067.html</string>
<key>梦见身体被烫伤</key><string>/shenti/2061.html</string>
<key>梦见用镜子照自己的头</key><string>/shenti/2053.html</string>
<key>梦见洗头</key><string>/shenti/2048.html</string>
<key>梦见有人挥动着剑企图砍自己的头</key><string>/shenti/2038.html</string>
<key>梦见自己的头大了</key><string>/shenti/2031.html</string>
<key>梦见阴茎</key><string>/shenti/1394.html</string>
<key>梦见腹部</key><string>/shenti/1395.html</string>
<key>梦见刮胡子</key><string>/shenti/1392.html</string>
<key>梦见截肢</key><string>/shenti/1393.html</string>
<key>梦见肺</key><string>/shenti/1389.html</string>
<key>梦见腰部</key><string>/shenti/1390.html</string>
<key>梦见阉割</key><string>/shenti/1391.html</string>
<key>梦见肠子、小肠</key><string>/shenti/1386.html</string>
<key>梦见肝脏</key><string>/shenti/1387.html</string>
<key>梦见胃、胃痛、胃疼</key><string>/shenti/1388.html</string>
<key>梦见鼻塞</key><string>/shenti/1383.html</string>
<key>梦见肚脐眼</key><string>/shenti/1384.html</string>
<key>梦见肾脏</key><string>/shenti/1385.html</string>
<key>梦见身上长虫子</key><string>/shenti/1380.html</string>
<key>梦见骨头</key><string>/shenti/1381.html</string>
<key>梦见呼吸</key><string>/shenti/1382.html</string>
<key>梦见腿毛</key><string>/shenti/1377.html</string>
<key>梦见身上长瘤</key><string>/shenti/1378.html</string>
<key>梦见胎动、胎梦</key><string>/shenti/1379.html</string>
<key>梦见拔牙</key><string>/shenti/1374.html</string>
<key>梦见流鼻血</key><string>/shenti/1375.html</string>
<key>梦见出汗、流汗</key><string>/shenti/1376.html</string>
<key>梦见来例假、来月经</key><string>/shenti/1371.html</string>
<key>梦见便秘</key><string>/shenti/1372.html</string>
<key>梦见癌症、得癌症</key><string>/shenti/1373.html</string>
<key>梦见马蜂</key><string>/shenti/1369.html</string>
<key>梦见舌头</key><string>/shenti/1370.html</string>
<key>梦见生殖器</key><string>/shenti/1367.html</string>
<key>梦见假发</key><string>/shenti/1368.html</string>
<key>梦见剔牙</key><string>/shenti/1364.html</string>
<key>梦见断肢</key><string>/shenti/1365.html</string>
<key>梦见身影</key><string>/shenti/1366.html</string>
<key>梦见肥胖</key><string>/shenti/1363.html</string>
<key>梦见胸部</key><string>/shenti/1362.html</string>
<key>梦见骨折</key><string>/shenti/1359.html</string>
<key>梦见放屁</key><string>/shenti/1360.html</string>
<key>梦见臀部、屁股</key><string>/shenti/1361.html</string>
<key>梦见纹身</key><string>/shenti/1357.html</string>
<key>梦见口臭</key><string>/shenti/1358.html</string>
<key>梦见头晕</key><string>/shenti/1353.html</string>
<key>梦见睫毛</key><string>/shenti/1354.html</string>
<key>梦见屎、尿、大便、小便、粪便、大粪</key><string>/shenti/1355.html</string>
<key>梦见脱发</key><string>/shenti/1356.html</string>
<key>梦见肋骨</key><string>/shenti/1350.html</string>
<key>梦见眼跳</key><string>/shenti/1351.html</string>
<key>梦见鼻涕</key><string>/shenti/1352.html</string>
<key>梦见皱纹</key><string>/shenti/1347.html</string>
<key>梦见中风</key><string>/shenti/1348.html</string>
<key>梦见皮肤痒</key><string>/shenti/1349.html</string>
<key>梦见大拇指</key><string>/shenti/1344.html</string>
<key>梦见络腮胡子</key><string>/shenti/1345.html</string>
<key>梦见伤口</key><string>/shenti/1346.html</string>
<key>梦见脚后跟</key><string>/shenti/1341.html</string>
<key>梦见天花</key><string>/shenti/1342.html</string>
<key>梦见溃疡</key><string>/shenti/1343.html</string>
<key>梦见痢疾</key><string>/shenti/1338.html</string>
<key>梦见瘦弱</key><string>/shenti/1339.html</string>
<key>梦见水泡</key><string>/shenti/1340.html</string>
<key>梦见胡须</key><string>/shenti/1335.html</string>
<key>梦见寒冷、发抖</key><string>/shenti/1336.html</string>
<key>梦见耳聋</key><string>/shenti/1337.html</string>
<key>梦见影子</key><string>/shenti/1333.html</string>
<key>梦见背部</key><string>/shenti/1334.html</string>
<key>梦见黑头发</key><string>/shenti/1330.html</string>
<key>梦见剪发</key><string>/shenti/1331.html</string>
<key>梦见绑辫子</key><string>/shenti/1332.html</string>
<key>梦见头上长角</key><string>/shenti/1326.html</string>
<key>梦见掉头发、掉发</key><string>/shenti/1327.html</string>
<key>梦见秃头</key><string>/shenti/1328.html</string>
<key>梦见白头发、白发</key><string>/shenti/1329.html</string>
<key>梦见掉眉毛</key><string>/shenti/1324.html</string>
<key>梦见鬼脸</key><string>/shenti/1325.html</string>
<key>梦见脓包</key><string>/shenti/1321.html</string>
<key>梦见年龄</key><string>/shenti/1322.html</string>
<key>梦见眉毛生长</key><string>/shenti/1323.html</string>
<key>梦见嘴唇</key><string>/shenti/1319.html</string>
<key>梦见掉牙齿</key><string>/shenti/1320.html</string>
<key>梦见眼泪</key><string>/shenti/1318.html</string>
<key>梦见手指</key><string>/shenti/1317.html</string>
<key>梦见脸色、苍白</key><string>/shenti/1315.html</string>
<key>梦见裸体、一丝不挂、光身</key><string>/shenti/1316.html</string>
<key>梦见痒、身上痒</key><string>/shenti/1314.html</string>
<key>梦见头痛、头疼</key><string>/shenti/1311.html</string>
<key>梦见流血、出血</key><string>/shenti/1313.html</string>
<key>梦见脸色</key><string>/shenti/129.html</string>
<key>梦见脉搏</key><string>/shenti/130.html</string>
<key>梦见指甲</key><string>/shenti/131.html</string>
<key>梦见咽喉</key><string>/shenti/132.html</string>
<key>梦见眼睛</key><string>/shenti/133.html</string>
<key>梦见心脏</key><string>/shenti/134.html</string>
<key>梦见耳朵</key><string>/shenti/135.html</string>
<key>梦见鼻子</key><string>/shenti/136.html</string>
<key>梦见嘴</key><string>/shenti/137.html</string>
<key>梦见胳膊</key><string>/shenti/138.html</string>
<key>梦见头</key><string>/shenti/139.html</string>
<key>梦见乳房</key><string>/shenti/140.html</string>
<key>梦见疼痛</key><string>/shenti/141.html</string>
<key>梦见瘫痪</key><string>/shenti/142.html</string>
<key>梦见肚子</key><string>/shenti/143.html</string>
<key>梦见头发</key><string>/shenti/144.html</string>
<key>梦见脸</key><string>/shenti/145.html</string>
<key>梦见身体</key><string>/shenti/146.html</string>
<key>梦见裸体</key><string>/shenti/147.html</string>
<key>梦见流泪</key><string>/shenti/148.html</string>
<key>梦见牙齿</key><string>/shenti/149.html</string>
<key>梦见脚</key><string>/shenti/150.html</string>
<key>梦见手</key><string>/shenti/151.html</string>
<key>梦见脖子</key><string>/shenti/127.html</string>
<key>梦见臀部</key><string>/shenti/128.html</string>
</dict>
</plist>