<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91D22B4B1C0E936C00F873CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D22B5F1C0E936C00F873CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D22B6A1C0E936C00F873CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
